@page
@model IndexModel

@{
    ViewData["Title"] = @Model.ProjectSettings.ProjectName;
}


<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        @if (!@Model.Sensors.Any())
        {
            <p>
                <em>no sensors</em>
            </p>
        }
        else
        {
            @foreach (var sensor in @Model.Sensors)
            {
                    await Html.RenderPartialAsync("_SensorCard", sensor);
            }
        }
    </div>
</div>

<style>
    .vertical {
        width: 100px; /* Width of the progress bar */
        height: 100px; /* Height of the progress bar */
        position: relative;
    }

    .vertical .progress-bar {
        width: 100%; /* Full width */
        height: 0; /* Start out from zero height */
        position: absolute;
        bottom: 0; /* Position at the bottom */
    }
</style>