@page
@model WebUI.Razor.Pages.Alarm.IndexModel
@{
}
<div class="container w-100" style="margin-top: 20rem;">
    <form method="post" onsubmit="return confirm('Are you sure you want to reset the alarm??');" class="d-flex align-items-center justify-content-center">
        <input type="submit" value="Reset Alarm" asp-page-handler="ResetAlarm" class="btn btn-danger btn-lg w-50" />
    </form>
</div>
