@model Application.Dtos.AlarmResponse


<div class="card" style="--card-bg-color: @(@Model.Status  ? "#d4edda" : "#f8d7da"); width: 10rem; margin: 10px; background-color: var(--card-bg-color);">
        <div class="card-body text-center">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <p class="card-title p-3">@Model.Description</p>
                    <p class="card-text">@Model.Status</p>
                    <p class="card-text">@Model.Updated</p>
                </div>
        </div>
</div>


<style>
    a.card-link {
        color: inherit;
        /* Inherit the color from the parent element or make it whatever color you want */
        text-decoration: none;
    }

    a.card-link:hover {
        color: inherit;
        /* Inherit the color from the parent on hover or make it whatever color you want */
        text-decoration: none;
    }
</style>