@inject Application.Models.ProjectSettings projectSettings

<header style="margin-bottom: 20px">
    <div class="text-center">
        <h1 class="display-1">
            <a class="text-decoration-none text-reset" asp-area="" asp-page="/Index">@projectSettings.ProjectName</a>
        </h1>
    </div>
</header>