{
    "ProjectSettings": {
        "projectName" : "StatusMonitor",
        "mqttBroker" : "broker.hivemq.com",
        "mqttPort" : 8883,
        "mqttUser" : "",
        "mqttPassword" : "",
        "mqttClientId" : "statusmonitor-simple-Id-asdf12123as"
    },
    "Sensors": [
        {
            "Id" : "1", 
            "Name": "Sensor 1", 
            "Description": "Sensor 1 description",
            "MqttTopic": "asdasdasd/statusmonitor/example/sensor1",
            "MinReading": 0,
            "MaxReading": 500,
            "Measurement": "cm",
            "PageSize": 24,
            "Group": "group 1",
            "Divider": 1
        },
        {
            "Id" : "2", 
            "Name": "Sensor 2", 
            "Description": "Sensor 2 description",
            "MqttTopic": "asdasdasd/statusmonitor/example/sensor2",
            "MinReading": 0,
            "MaxReading": 300,
            "Measurement": "l/min",
            "PageSize": 24,
            "Group": "group 1",
            "Divider": 1
        },
        {
            "Id" : "3", 
            "Name": "Sensor 3", 
            "Description": "Sensor 3 description",
            "MqttTopic": "asdasdasd/statusmonitor/example/sensor3",
            "MinReading": 0,
            "MaxReading": 500,
            "Measurement": "cm",
            "PageSize": 24,
            "Group": "group 2",
            "Divider": 10
        }
    ]
}
